{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container" style="width: 50%;  ">
        {{ form(registrationForm) }}
    </div>
{% endblock %}
