{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div class="container" >
            <h1 style="margin-left: 15rem;margin-top: 1rem">
                Welcome {{ app.user.voornaam }} to your fly account
            </h1>
        </div>
    {% endif %}


{% endblock %}